.hero-content {
   position: relative;
   min-height: 600px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.hero-content .hero-title {
   position: absolute;
   top: 20%;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
   font-size: 7rem;
   font-weight: 300;
   text-transform: none;
   letter-spacing: 0.5rem;
   color: white;
}

.hero-content .subtitle {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  color: white;
  text-transform: capitalize;
}

.btn-get-started {
  position: absolute;
  top: 60%;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  margin: 0 33.3rem 0;
}

.btn-get-started:hover {
  color: #8b8d8e;
  border-color: #8b8d8e;
}

.btn-get-started:active {
  color: black;
  border-color: black;
}

.works-container {
  background: white;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 34rem;
  color: rgb(82, 118, 100);
}

.works-header {
  position: relative;
  top: 2rem;
  color: black;
}

.works-body {
  position: relative;
  top: 8rem;
  width: 100%;
}

.works-body h3 {
  color: black;
}

.works-body .column{
  width: 400px;
  float: left;
  margin: 2rem;
  text-align: left;
}

.about-container {
  background: rgb(82, 118, 100);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 34rem;
  color: white;
}

.about-header {
  position: relative;
  top: 2rem;
}

.about-body {
  position: relative;
  top: 8rem;
  width: 100%;
}

.about-body .column{
  width: 400px;
  float: left;
  margin: 2rem;
  text-align: left;
}
