<section class="hero-content">
  <h1 class="hero-title">SoVal</h1>
  <h2 class="subtitle">business valuation made simple</h2>
  <a ui-sref="valuation"><button type="button" class="btn btn-get-started">Get Started</button></a>
</section>

<section class="works-container">
  <div class="works-header">
    <h1>How SoVal Works<h1>
  </div>
  <div class="works-body">
    <div class="column">
      <h3>Selling Point 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.</p>
    </div>
    <div class="column">
      <h3>Selling Point 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.</p>
    </div>
    <div class="column">
      <h3>Selling Piont 4</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.</p>
    </div>
  </div>
</section>

<section class="about-container">
  <div class="about-header">
    <h1>About Us<h1>
  </div>
  <div class="about-body">
    <div class="column">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.</p>
    </div>
    <div class="column">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.</p>
    </div>
    <div class="column">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.</p>
    </div>
  </div>
</section>
