<h1>Business Metrics</h1>

<section class="form-container">
  <form method="post" action="">
    <div>
      Prefered:
      <label><input type="radio" name="prefered" value="yes"></input> Yes</label>
      <label><input type="radio" name="prefered" value="no"></input> No</label><br />
    </div>
    <div>
      Participating:
      <label><input type="radio" name="participating" value="yes"></input> Yes</label>
      <label><input type="radio" name="participating" value="no"></input> No</label><br />
    </div>
    <div>
      Participating Cap:
      <label><input type="radio" name="participatingCap" value="yes"></input> Yes</label>
      <label><input type="radio" name="participatingCap" value="no"></input> No</label><br />
    </div>
    <div>
      <label for="multiple">What is the multiple?:</label>
      <input type="number" name="partCapMult" value="" id="multiple"></input><br />
    </div>
    <div>
      Cumulative Dividend:
      <label><input type="radio" name="cumulativeDiv" value="yes"></input> Yes</label>
      <label><input type="radio" name="cumulativeDiv" value="no"></input> No</label><br />
    </div>
    <div>
      <label for="dividend">What is the percent dividend?:</label>
      <input type="number" name="percentDiv" value="" id="dividend"></input><br />
    </div>
    <div>
      <label for="preMoney">Pre Money:</label>
      <input type="number" name="preMoney" id="preMoney"></input><br />
    </div>
    <div>
      <label for="postMoney">Post Money:</label>
      <input type="number" name="postMoney" id="postMoney"></input><br />
    </div>
    <div>
      <input type="submit" value="Submit" class"btn btn-default"></input>
    </div>
  </form>
</section>
