<h1>Business Metrics</h1>
<br>
<h3>{{commonValue}}</h3>
{{hypotheticalExit}}
{{preMoney}}
{{postMoney}}
{{liquidationPrefMult}}
<section class="form-container">
  <form method="post" action="">
    <button type="button" name="button" ng-click="alert1()">Submit</button>
    <div>
      Prefered:
        <label><input type="checkbox" ng-model="prefered"></input></label>
    </div>
    <div>
      Participating:
      <label><input type="checkbox" ng-model="participating"></input></label>
    </div>
    <div>
      <label for="liquidationPref">What is the liquidation preference?:</label>
      <select class="" ng-model="liquidationPrefMult">
        <option value="1">1x</option>
        <option value="2">2x</option>
        <option value="3">3x</option>
      </select>
    </div>
    <div>
      Participating Cap:
      <label><input type="checkbox" ng-model="participatingCap"></input></label>
    </div>
    <br />
    <div>
      <label for="multiple">What is the multiple?:</label>
      <select class="" ng-model="participatingCapMult">
        <option value="1">1x</option>
        <option value="2">2x</option>
        <option value="3">3x</option>
      </select>
    </div>
    <div>
      Cumulative Dividend:
      <label><input type="checkbox" ng-model="cumulativeDiv"></input></label>
    </div>
    <br />
    <div>
      <label for="dividend">What is the percent dividend?:</label>
      <select class="" ng-model="cumulativeDivPerc">
        <option value=".02">2%</option>
        <option value=".04">4%</option>
        <option value=".06">6%</option>
        <option value=".08">8%</option>
      </select>
    </div>
    <div>
      <label for="preMoney">Pre Money:</label>
      <input type="text" ng-model="preMoney"  id="preMoney"></input><br />
    </div>
    <div>
      <label for="postMoney">Post Money:</label>
      <input type="text" ng-model="postMoney" id="postMoney"></input><br />
    </div>
    <div>
      <label for="exitValue">Exit Value:</label>
      <input type="text" ng-model="hypotheticalExit" id="exitValue"></input><br />
    </div>
    <div>
      <!-- <input type="submit" value="Submit" ng-click="calc()" class"btn btn-default"></input> -->
      <button type="button" name="button" ng-click="calc()">Submit</button>
    </div>
  </form>
</section>
